[package]
name = "twilight"
version = "0.1.0"
authors = ["Twilight and Serenity Contributors"]
edition = "2018"

[dependencies]
futures = "0.3"
tracing = "0.1"
tracing-subscriber = "0.2"
tokio = { features = ["macros", "rt-multi-thread", "sync"], version = "1" }
twilight-gateway = "0.12"
twilight-http = "0.12"
twilight-model = "0.12"
twilight-standby = "0.12"

[dependencies.songbird]
default-features = false
path = "../.."
features = ["driver", "twilight-rustls", "zlib-stock"]
